---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  cppcoreguidelines-*,
  performance-*,
  bugprone-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -*-avoid-c-arrays,
  -clang-analyzer-optin.cplusplus.UninitializedObject,
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ''
ExcludeHeaderFilterRegex: ''
FormatStyle:     none
User:            albert
CheckOptions:    {}
SystemHeaders:   false
...
