---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  -*-avoid-c-arrays,
  -bugprone-easily-swappable-parameters,
  -bugprone-suspicious-include,
  -clang-analyzer-optin.cplusplus.UninitializedObject,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -readability-magic-numbers,
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: 'src/.*'
ExcludeHeaderFilterRegex: ''
FormatStyle:     none
User:            albert
CheckOptions:    {}
SystemHeaders:   false
...
